<!-- <nav>
        <div class="site-title">
            <a href="/"><h1>Blogify</h1></a>
            <p>A blogs site</p>
        </div>
        <ul>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav> -->

<nav>

    <div class="left">

        <div class="site-title">
            <a href="/">
                <h1>Blogify</h1>
            </a>
        </div>
    </div>

    <ul class="nav-links">
         <li><a href="/home">Home</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create" class="write-btn">Write Blog</a></li>
    </ul>

    <div class="buttons">
        <!-- <a href="#" class="btn">Subscribe</a> -->
        <a href="/user/login" class="btn">Login</a>
        <a href="/user/signup" class="btn">SignUp</a>
    </div>

</nav>
