<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>


    <body>

        <%- include('./partials/nav.ejs') %>

            <div class="create-blogs content">
                <form action="/blogs" method="POST" >
                    <label for="title">Blog title</label>
                    <input type="text" id="title" required name="title">
                    <label for="snippet">Blog snippet</label>
                    <input type="text" id="snippet" required name="snippet">
                    <div class="form-group">
                        <label for="genre">Select Genre:</label>
                        <select name="genre" id="genre" required>
                            <option value="" disabled selected>Choose a genre...</option>
                            <option value="Technology">Technology</option>
                            <option value="Programming">Programming</option>
                            <option value="Travel">Travel</option>
                            <option value="Life">Life</option>
                            <option value="Education">Education</option>
                            <option value="Sports">Sports</option>
                            <option value="News">News</option>
                        </select>
                    </div>
                    <!-- <label for="body">Blog body</label>
                    <textarea id="body" required name="body"></textarea> -->
                    <label>Blog Body</label>
                    <div id="editor"></div>
                    <input
                        type="hidden"
                        name="body"
                        id="body"
                    >
                    <button>Submit</button>
                </form>
            </div>

            <%- include('./partials/footer.ejs') %>
            <%- include('./partials/scripts.ejs') %>

            <script>
            const quill = new Quill("#editor", {
                theme: "snow",
                modules: {
                    toolbar: [
                        [{ header: [1, 2, 3, false] }],
                        ["bold", "italic", "underline"],
                        [{ list: "ordered" }, { list: "bullet" }],
                        ["blockquote", "code-block"],
                        ["link", "image"],
                        [{ align: [] }],
                        ["clean"]
                    ]
                }
            });

            const form = document.querySelector("form");
            form.onsubmit = () => {
                document.querySelector("#body").value = quill.root.innerHTML;
            };
            </script>
    </body>

</html>